<header class="page-header">
<h1>My Dashboard</h1>
</header>

<div class="panel panel-default items">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Tracking</th>
          <th>Total Count</th>
        </tr>
      </thead>
    <tbody>
    <tr>
    <td>Products</td>
    <td> <%=@total_products%> </td>
    </tr>
    <tr>
    <td>Categories</td>
    <td> <%=@total_categories%> </td>
    </tr>